<div class="head">
    <div class="menu">
        <mat-toolbar>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>

        </mat-toolbar>
    </div>
    <h1>Iniciando Desenvolvimento com Angular</h1>
    <div class="headicons">

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>home</mat-icon>
        </button>
        <mat-icon matBadge="15" matBadgeColor="warn">info</mat-icon>

    </div>

</div>