<div class="containerFooter">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DEV FULSTACK</mat-card-title>
      <mat-card-subtitle>Hernani Almeida</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="foto" alt="foto dev" >
    <mat-card-content>
      <p>
        Agradecimentos a Avanade e a Camila Ferreira Ribeiro
      </p>
    </mat-card-content>
  </mat-card>
  <div>
    <h1>Desenvolvido por Dev Hernani Almeida</h1>
  </div>
  
</div>